# Files and directories created by pub.
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# flutter version manager
.fvm/

packages/**/.idea
packages/**/*.iml
packages/**/*.symbols
packages/**/*.log
**/coverage
# Conventional directory for build outputs.
packages/**/build
packages/**/doc/api

